<% provide(:title, 'Homepage') %>
<p>Find me in app/views/static/home.html.erb</p>

<!-- Hide this if current_user exists -->
<!-- <h2>Current User: </h2>
<%= current_user.inspect %>
<br> -->

<% if current_user %>
  <!-- true -->
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>

<% else %>
  <!-- false -->
  <%= link_to "Login", new_user_session_path %>
  <%= link_to "Register", new_user_registration_path %>
<% end %>
